.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.527);
}

.image {
  flex: 1;
  padding-left: 70px;
  width: 100%;
}

.image img {
  width: 90%;
  border-radius: 8px;
  cursor: pointer;
}

.form-wraper {
  flex: 1;
  padding: 15px;
  background-color: rgba(106, 63, 41, 0.74);
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
option {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

label {
  color: rgb(250, 250, 250);
}

.opening-hours {
  margin: 50px;
  padding-bottom: 200px;
  background-color: rgba(106, 63, 41, 0.74);
}

.form-container h2 {
  font-size: 30px;
  color: rgb(240, 255, 255);
}

.form-container p {
  font-size: 18px;
  color: rgb(240, 255, 255);
  line-height: 1.5;
}

.adress {
  background-color: rgba(106, 63, 41, 0.74);
  border-radius: 8px;
}

a {
  color: rgb(240, 255, 255);
}

a:hover {
  color: rgb(139, 131, 247);
}

.submit {
  background-color: rgb(140, 146, 141);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.submit:hover {
  background: transparent;
  border: 2px solid rgb(230, 165, 121);
  box-shadow: 0 0 10px 0 rgb(230, 165, 121) inset,
    0 0 10px 4px rgb(230, 165, 121);
}

.opening-hours {
  text-align: center;
  margin-top: 50px;
}

.opening-hours p strong {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
    height: auto;
  }
  .image {
    padding: 10px;
  }
  .image img {
    border-radius: 0;
  }
  .form-wraper {
    padding: 0;
    margin-top: 20px;
  }
  .opening-hours {
    margin-top: 0;
  }
  .opening-hours h2 {
    font-size: 18px;
    margin-top: 3px;
  }
  .opening-hours p strong {
    font-weight: bold;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .image {
    padding: 0;
  }
  .form-wraper {
    flex: 1;
    padding: 0;
  }
  input,
  select,
  textarea,
  option {
    padding: 8px;
  }
  .opening-hours {
    margin-top: 0;
  }
  .opening-hours h2 {
    font-size: 18px;
    margin-top: 3px;
  }
  .opening-hours p strong {
    font-weight: bold;
  }
}
