.container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome-video {
  width: 30%;
  margin-left: 9%;
}

.welcome-text {
  width: 50%;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  color: rgb(240, 255, 255);
}

h1 {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .welcome-video {
    width: 30%;
    margin-left: 9%;
  }
}

@media only screen and (max-width: 767px) {
  .welcome-video {
    width: 80%;
  }
}
