#root {
  --header-height: 3rem;
  --nav-width: 4.25rem;

  --sidebar-color: #3e479c;
  --icon-color: #0c0c0c;
  --main-color: #9c603e;
  --active-color: #ec5809;
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(156, 96, 62, 0.663);
  padding: 0 1rem;
  transition: 0.5s;
}

.header-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  cursor: pointer;
  color: #ec5809;
}

.navbar {
  position: fixed;
  top: 2;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: rgba(156, 96, 62, 0.663);
  padding-top: 1rem;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  color: var(--sidebar-color);
}

.nav-icon,
.nav-path {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
}

.nav-path {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 3rem 0 1rem 1.5rem;
  position: relative;
  transition: 0.3s;
  margin-bottom: 1.5rem;
}

.hover:hover {
  color: red;
}

.nav-path:hover {
  color: #ecaf09;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-icon:hover {
  color: #ecaf09;
  background-color: rgba(0, 0, 0, 0.2);
}

.active {
  color: #ecaf09;
  background-color: rgba(0, 0, 0, 0.4);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 3rem;
  width: 0.18rem;
  background-color: var(--active-color);
  transition: 0.5s;
}

.show {
  left: 0;
}

.hamburguer {
  padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .navbar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .hamburguer {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
