h1 {
  font-size: 50px;
  margin-top: 0;
  text-align: center;
}

h1 img {
  align-items: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.pricelist {
  width: 50%;
  background-color: rgba(240, 120, 45, 0.781);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: aliceblue;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-color: black;
}

.cutz {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 19px;
}

.service {
  /*   width: 60%;
  text-align: left;
  float: left; */

  color: blue;
}

.price {
  color: red;
}

h3,
p {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.contacts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
